body {
	background-color: #1b335b;
}

.header {
	margin-top: 30px;
	margin-left: 39%;
	margin-right: 40%;
}

.tabeltamu {
	background-color: #ffffff;
	border: 2px solid #000000;
	margin: 30px 15px;
	border-radius: 2px;
	box-shadow: 10px 17px 6px #000000;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 450;
}


.btn1 {
	display: inline-block;
	padding: 0.6em 1.7em;
	border: 0.1em solid #ffffff;
	margin: auto 0.3em auto 0.3em;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 450;
	text-align: center;
	transition: all 0.2s;
	height: 34px;
	cursor: pointer;
	outline: none;
}

.btn1:hover {
	background-color: #000000;

}

@media screen and (min-width: 768px) {

	body {
		background-color: #1b335b;
	}

	.header {
		margin-top: 25px;
		margin-left: 85%;
	}

	.tabeltamu {
		background-color: #ffffff;
		margin: 80px 60px;
		border: 2px solid #000000;
		border-radius: 2px;
		box-shadow: 10px 17px 6px #000000;
		text-align: center;
		font-family: "Poppins", sans-serif;
		font-weight: 450;
		padding: 10px 25px;
	}


	.btn1 {
		display: inline-block;
		padding: 0.6em 1.7em;
		border: 0.1em solid #ffffff;
		margin: auto 0.3em auto 0.3em;
		border-radius: 0.12em;
		box-sizing: border-box;
		text-decoration: none;
		font-family: "Roboto", sans-serif;
		font-weight: 450;
		text-align: center;
		transition: all 0.2s;
		height: 34px;
		cursor: pointer;
		outline: none;
	}

	.btn1:hover {
		background-color: #000000;

	}
}
